---
layout: default
title: Lapis Lazuli Laboratory
permalink: /
---

<!-- Slider Start -->
<section id="slider" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-14">
        <div class="block">
          <h1 class="animated fadeInUp">VJ / ERG / VR / Monoeye</h1>
          <p class="animated fadeInUp">
            "Thousands of distant and ancient stories, wrapped in azure, lie dormant."
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="intro">
  <div class="container">
    <div class="col-md-12">
      <div class="block">
        <h1 class="animated fadeInUp">Lapis Lazuli Laboratory</h1>
        <p class="animated fadeInUp">VJ KANI-Panが主宰する個人サークルです。</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-md-12">
      <div class="block">
        <h1 class="animated fadeInUp">Profile</h1>
        {% capture markdown_content %}{% include main_profile.md %}{% endcapture %}
        {{ markdown_content | markdownify }}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-md-12">
      <div class="block">
        <h1 class="animated fadeInUp">Style</h1>
        {% capture markdown_content %}{% include main_style.md %}{% endcapture %}
        {{ markdown_content | markdownify }}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-md-12">
      <div class="block">
        <h1 class="animated fadeInUp">主な出演履歴</h1>
          {% capture markdown_content %}{% include main_works.md %}{% endcapture %}
          {{ markdown_content | markdownify }}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-md-12">
      <div class="block">
        <h1 class="animated fadeInUp">Offer / Contact</h1>
        {% capture markdown_content %}{% include main_contact.md %}{% endcapture %}
        {{ markdown_content | markdownify }}
      </div>
    </div>
  </div>

</section>
