body {
   background-color: #e7eff5;
} 

a {
  text-decoration: none;
}

.lw {
  color: #043583;
  font-family:serif;
  font-size: 80px;
  font-style: oblique;
  font-weight: bold ;
  text-align: center;
    
  background: -webkit-linear-gradient(90deg, #261859, #1c5faa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.psalm{
  color: #043583;
  font-family:serif;
  font-size: 20px;
  font-style: oblique;
  text-align: center;
  background: -webkit-linear-gradient(90deg, #261859, #1c5faa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
