<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/about">About</a></li>
          </ul>
        </div>
        <p>Copyright &copy; 2023 www.brighter-than-dawning.blue - Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a></p>
      </div>
    </div>
  </div>
</footer>
